<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
    <a data-toggle="dropdown" href="#">
    <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
    <li class="header-title"> Sidebar Background</li>
    <li class="adjustments-line">
    <a class="switch-trigger background-color" href="javascript:void(0)">
    <div class="badge-colors text-center">
    <span class="badge filter badge-yellow" data-color="yellow"></span>
    <span class="badge filter badge-blue" data-color="blue"></span>
    <span class="badge filter badge-green" data-color="green"></span>
    <span class="badge filter badge-orange active" data-color="orange"></span>
    <span class="badge filter badge-red" data-color="red"></span>
    </div>
    <div class="clearfix"></div>
    </a>
    </li>
    <li class="header-title">
                    Sidebar Mini
                </li>
    <li class="adjustments-line">
    <div class="togglebutton switch-sidebar-mini">
    <span class="label-switch">OFF</span>
    <input checked="" class="bootstrap-switch" data-off-label="" data-on-label="" name="checkbox" type="checkbox">
    <span class="label-switch label-right">ON</span>
    </input></div>
    </li>
    </ul>
    </div>
    </div>